<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN"
        "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--This file was converted to xhtml by LibreOffice - see https://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.-->
<head profile="http://dublincore.org/documents/dcmi-terms/">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <title xml:lang="en-US">- no title specified</title>
    <meta name="DCTERMS.title" content="" xml:lang="en-US"/>
    <meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/>
    <meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/>
    <meta name="DCTERMS.creator" content="app"/>
    <meta name="DCTERMS.issued" content="2024-03-22T23:09:00" scheme="DCTERMS.W3CDTF"/>
    <meta name="DCTERMS.modified" content="2024-03-24T03:35:24.235904003" scheme="DCTERMS.W3CDTF"/>
    <meta name="xsl:vendor" content="libxslt"/>
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/>
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/>
    <link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/>
    <link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/>
    <style>
    table { border-collapse:collapse; border-spacing:0; empty-cells:show }
    td, th { vertical-align:top; font-size:12pt;}
    h1, h2, h3, h4, h5, h6 { clear:both;}
    ol, ul { margin:0; padding:0;}
    li { list-style: none; margin:0; padding:0;}
    span.footnodeNumber { padding-right:1em; }
    span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
    span.heading_numbering { margin-right: 0.8rem; }* { margin:0;}
    .P1 { background-color:transparent; color:#000000; font-size:14pt; font-style:normal; font-weight:normal; letter-spacing:normal; line-height:106%; margin-bottom:0in; margin-top:0in; text-align:left ! important; font-family:Calibri; text-decoration:none ! important; vertical-align:top; writing-mode:horizontal-tb; direction:ltr; margin-left:0in; margin-right:0in; text-indent:0in; }
    .P10 { background-color:transparent; color:#000000; font-size:11pt; font-style:normal; font-weight:normal; letter-spacing:normal; line-height:106%; margin-bottom:0.2673in; margin-top:0in; text-align:left ! important; font-family:Calibri; text-decoration:none ! important; vertical-align:top; writing-mode:horizontal-tb; direction:ltr; }
    .P11 { background-color:transparent; font-size:11pt; font-style:normal; font-weight:normal; letter-spacing:normal; line-height:106%; margin-bottom:0.111in; margin-top:0in; text-align:left ! important; font-family:Calibri; text-decoration:none ! important; vertical-align:top; writing-mode:horizontal-tb; direction:ltr; }
    .P4 { background-color:transparent; color:#000000; font-size:11pt; font-style:normal; font-weight:normal; letter-spacing:normal; line-height:106%; margin-bottom:0.2673in; margin-top:0in; text-align:left ! important; font-family:Calibri; text-decoration:none ! important; vertical-align:top; writing-mode:horizontal-tb; direction:ltr; }
    .Table1 { width:7.8111in; margin-left:0in; margin-top:0in; margin-bottom:0in; margin-right:auto;writing-mode:horizontal-tb; direction:ltr; }
    .Table1_A1 { padding:0.0382in; border-left-width:0.0176cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-style:none; border-bottom-width:0.0176cm; border-bottom-style:solid; border-bottom-color:#000000; }
    .Table1_I1 { padding:0.0382in; border-left-width:0.0176cm; border-left-style:solid; border-left-color:#000000; border-right-width:0.0176cm; border-right-style:solid; border-right-color:#000000; border-top-style:none; border-bottom-width:0.0176cm; border-bottom-style:solid; border-bottom-color:#000000; }
    .Table1_A { width:0.3153in; }
    .Table1_B { width:0.3694in; }
    .Table1_C { width:0.6931in; }
    .Table1_D { width:0.3701in; }
    .Table1_E { width:3.1889in; }
    .Table1_G { width:0.6063in; }
    .Table1_H { width:0.9764in; }
    .Table1_I { width:0.9757in; }
    .Table1_1 { height:0.2403in; }
    .T1 { font-size:14pt; }
    .T6 { font-size:13pt; }
    /* ODF styles with no properties representable as CSS:
    .dp1 .Default_20_Paragraph_20_Font .ListLabel_20_1 .ListLabel_20_2 .ListLabel_20_3 .ListLabel_20_4 .ListLabel_20_5 .ListLabel_20_6 .ListLabel_20_7 .ListLabel_20_8 .ListLabel_20_9  { } */


    </style>
</head>
<body dir="ltr"
      style="max-width:8.3in;margin-top:0.0902in; margin-bottom:0.2402in; margin-left:0.2598in; margin-right:0.2291in; ">
<p class="P1"><span class="Default_20_Paragraph_20_Font"><span class="T1"/></span></p>
<table border="0" cellspacing="0" cellpadding="0" width="100%" class="Table1">
    <colgroup>
        <col width="35"/>
        <col width="41"/>
        <col width="77"/>
        <col width="41"/>
        <col width="354"/>
        <col width="35"/>
        <col width="67"/>
        <col width="108"/>
        <col width="108"/>
    </colgroup>
    <tr class="Table11">
        <td style="text-align:left;width:0.3153in; " class="Table1_A1"><p class="P11"> </p></td>
        <td style="text-align:left;width:0.3694in; " class="Table1_A1"><p class="P11"> </p></td>
        <td style="text-align:left;width:0.6931in; " class="Table1_A1"><p class="P4"><span class="T6">OK        </span>
        </p></td>
        <td style="text-align:left;width:0.3701in; " class="Table1_A1"><p class="P11"> </p></td>
        <td style="text-align:left;width:3.1889in; " class="Table1_A1"><p class="P4"><span class="T6">Attention / Repair Required</span>
        </p></td>
        <td style="text-align:left;width:0.3153in; " class="Table1_A1"><p class="P11"> </p></td>
        <td style="text-align:left;width:0.6063in; " class="Table1_A1"><p class="P11"> </p></td>
        <td style="text-align:left;width:0.9764in; " class="Table1_A1"><p class="P11"> </p></td>
        <td style="text-align:left;width:0.9757in; " class="Table1_I1"><p class="P11"> </p></td>
    </tr>
</table>
<p class="P10"> </p></body>
</html>